
.package-item {

  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 50px;
    font-weight: 300;
    background-color: #fff;
    color: #12aaeb;
    margin: 0;
    padding: 20px;
    box-shadow: 0 4px 30px rgba(61,115,158,0.1);
    text-transform: uppercase;

    .repo {
      font-size: 20px;
      text-transform: none;
      color: #666;

      i {
        margin: 5px;
        transition: all 300ms;
        transform: scale(1);
        transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
      }

       &:hover i {
        transform: scale(1.2);
      }
    }

  }

  .install {
    text-align: center;

    input {
      text-align: center;
      padding: 20px;
      margin: 0;
      width: 100%;
      color: #12aaeb;
      font-family: Consolas, "Liberation Mono", Menlo, Monaco, Courier, monospace;
      font-size: 16px;
      cursor: text;
      appearance: none;
      outline: none;
      background: none;
      border: none
    }
  }

  .desc {
    padding: 0 20px;
    margin: 0;
    color: #597a96;
  }
}