@import "../../node_modules/cssrecipes-reset/index.css";
@import "../../node_modules/cssrecipes-defaults/index.css";

@mixin gradient-directional($start-color: #555, $end-color: #333, $deg: 45deg) {
  background-repeat: repeat-x;
  background-image: -webkit-linear-gradient($deg, $start-color, $end-color); // Safari 5.1-6, Chrome 10+
  background-image: -o-linear-gradient($deg, $start-color, $end-color); // Opera 12
  background-image: linear-gradient($deg, $start-color, $end-color); // Standard, IE10, Firefox 16+, Opera 12.10+, Safari 7+, Chrome 26+
}

html {
  box-sizing: border-box;
  min-height: 100%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

body {
  background-color: #22282e;
  @include gradient-directional(#203546, #22282e, 170deg);
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  min-height: 100%;
}

.app {
}

// div, span {
//   box-sizing: border-box;
//   position: relative;

//   display: flex;
//   flex-direction: column;
//   align-items: stretch;
//   flex-shrink: 0;

//   border: 0 solid black;
//   margin: 0;
//   padding: 0;
// }