.logo-bar {
  text-align: center;

  .logo {
    width: 205px;
    height: 37px;
  }

  .tag-line {
    color: #597a96;
    font-size: 18px;
    font-weight: 400;
    border-bottom: solid #374a59 1px;
    padding-bottom: 20px;
    margin: 5px 0;
  }
}