.search {
  width: 50%;
  
  &.fullsize {
    width: auto;
  }
}

.search-box {
  margin-top: 20px;
  text-align: center;
  justify-content: center;

  .search-box-input {
    display: flex;
    background-color: #275482;
    font-size: 60px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    padding: 10px 20px;
    margin: 0 auto;
    color: #fff;
    outline: none;
    appearance: none;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(12,51,92,0.1);
  }
}